.App {
  background-color: rgb(32,35,62);
  display: flex;
  flex-direction: column;
  height:96vh;
  align-items:center;
  border-radius: 4px;

  /* position:absolute; */
  /* text-align: center; */
  /* justify-content: space-around; */
  /* border:1px solid green; */

}
.navbar{
  position:relative;
  width:100%;
  padding-bottom: 50px;
  text-decoration: none;
  color: white;
  margin:24px;
  list-style: none;
  display:flex;
  flex-direction: row;
  justify-content:space-between;
}

h1{
  color:white;
  margin-bottom: 48px;
  font-size: 3.3em;
}
.game-box{
  position:relative;
  width:40%;
  box-shadow: 4px 10px 20px rgba(0,0,0,0.2)
}
