*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
body {
  position:relative;
  width:98%;
  height: 96%;
  margin:0.8em auto;
  font-family: sans-serif;
  background-color: rgb(58,63,101);

}

a:link,
a:visited{
  text-decoration: none;
  /* color: white; */

}
